//-----sizes-----//
$cw: 1180;
$cp: 100;
$xl: $cw + px;
$lg: 991.92 + px;
$md: 767.98 + px;
$sm: 479.98 + px;
//---------------//

//-----fonts-----//
$fm: Lato;
$fa: sans-serif;
//---------------//

//-----colors-----//
$colm: #fff;
$cola: #597aef;
$colb: #000;
//---------------//